.mini-cart .product-card .product-title {
  @apply text-primary text-sm font-bold font-secondary;
}

.mini-cart .product-card .price {
  @apply text-sm font-bold;
}

/* Remove number input spinner arrows for elements with class "appearance-none" */

/* Chrome, Safari, Edge, Opera */
.mini-cart input.appearance-none[type="number"]::-webkit-inner-spin-button,
.mini-cart input.appearance-none[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.mini-cart input.appearance-none[type="number"] {
  -moz-appearance: textfield;
}

/* Edge */
.mini-cart input.appearance-none[type="number"]::-ms-clear,
.mini-cart input.appearance-none[type="number"]::-ms-reveal {
  display: none;
}