NEXT_PUBLIC_WORDPRESS_SITE_URL=__NEXT_PUBLIC_WORDPRESS_SITE_URL__
NEXT_PUBLIC_GRAPHQL_URL=__NEXT_PUBLIC_GRAPHQL_URL__
NEXT_PUBLIC_CHECKOUT_URL=__NEXT_PUBLIC_CHECKOUT_URL__
NEXT_PUBLIC_LIVE_URL=__NEXT_PUBLIC_LIVE_URL__
NEXT_PUBLIC_COOKIE_DOMAIN=__NEXT_PUBLIC_COOKIE_DOMAIN__
NEXT_PUBLIC_TYPESENSE_PUBLIC_KEY=__NEXT_PUBLIC_TYPESENSE_PUBLIC_KEY__
NEXT_PUBLIC_STORE_ID=__NEXT_PUBLIC_STORE_ID__
NEXT_PUBLIC_TYPESENSE_HOST=__NEXT_PUBLIC_TYPESENSE_HOST__