NEXT_PUBLIC_WORDPRESS_SITE_URL="https://cart.prod.hydraship.app"
NEXT_PUBLIC_GRAPHQL_URL="https://cart.prod.hydraship.app/graphql"
NEXT_PUBLIC_CHECKOUT_URL="https://cart.prod.hydraship.app/checkout"
NEXT_PUBLIC_LIVE_URL="https://store.prod.hydraship.app"
NEXT_PUBLIC_COOKIE_DOMAIN=".prod.hydraship.app"
NEXT_PUBLIC_TYPESENSE_PUBLIC_KEY="5xPVet5GBHefjJVwRy54"
NEXT_PUBLIC_STORE_ID="1"
NEXT_PUBLIC_TYPESENSE_HOST="typesense.prod.hydraship.app"